
.game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    font-size: 140px;
    font-family: serif;
}
#gameCanvas{
    background-color: aqua;
}
body{
    background-color: yellow;
}
#score{
    background-color:rgb(255, 200, 0)
}